body {
    font-size: 16px;
}

img {
    max-width: 100%;
}


.home-page {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}

.search-post {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-margin-y {
    margin: 4rem 0;
}

.bgg-margin-y {
    margin: 8rem 0;
}

.bg-padding-y {
    padding: 4rem 0;
}

.bg-padding-x {
    padding: 0 4rem;
}

.bgg-padding-x {
    padding: 0 8rem;
}

.bgg-padding-y {
    padding: 8rem 0;
}

.bgg-padding {
    padding: 8rem;
}

.bg-padding {
    padding: 4rem;
}

.light-grey {
    background-color: rgb(228, 222, 222);
}

.mild-dark {
    background-color: rgb(41, 37, 37);
}

.my-btn {
    padding: 10px 20px;
}

h1.front-heading {
    font-size: 3rem;
    line-height: 1.5;
}

p.front-p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.small-heading {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(83, 79, 79);
}

.img-addr {
    width: 100%;
    height: 50%;
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr {
    text-align: center;
    width: 30%;
    border-top-width: 3px;
    border-radius: 50%;
    margin: 3rem auto 2rem;
}

.c-width {
    width: 150px;
}

.success-light {
    color: rgb(9, 182, 9);
}

.primary-light {
    color: rgb(78, 78, 216);
}

.bg-prim {
    background-color: rgb(73, 73, 216);
}

.bg-head {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5;
}

.bg-head span {
    font-weight: 600;
    font-size: 3.1rem;
}

.smaller-heading {
    font-size: 1.8rem;
}

.caption {
    font-weight: 600;
}

.custom {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 500;
}

.bd-600 {
    font-weight: 600;
}

.bd-500 {
    font-weight: 500;
}

.bd-300 {
    font-weight: 300;
}

.links {
    color: rgb(34, 33, 33);
    z-index: 100;
    font-weight: 400;
}

.link_:hover {
    color: rgb(80, 75, 75);
    font-weight: 200;
}

@media screen and (min-width: 992px) {
    .full-height {
        height: 75vh;
        display: flex;
        align-items: center;
    }
    .width-75 {
        max-width: 75%;
    }

    .text_centre {
        text-align: center;
    }

    .flex-rr {
        flex-direction: row;
    }

    .flexx {
        align-items: center;
    }
  }

@media screen and (max-width: 992px) {
    .flex-r {
        flex-direction: column-reverse
    }

    .flex-rr {
        flex-direction: row-reverse;
    }

    .bgg-padding-y {
        padding: 5rem 0;
    }

    .text_centre {
        text-align: left;
    }

    .bg-head {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
    }
    
    .bg-head span {
        font-weight: 600;
        font-size: 2.1rem;
    }
  }