div.user-type {
    display:flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}

.user-type div {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.outer-box {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inner-box {
    width: 40%;
    height: 50vh;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .outer-box {
        height: 100vh;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
    }

    .inner-box {
        width: 80%;
        height: 30vh;
        border: 2px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
